---
layout: page
title: "About"
description: "Hey, this is Nastul."
header-img: "img/post-bg-rwd.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>This is Nastul<br>
    A Student in Unimelb -Master of Computer Science</p></blockquote>

    <p>Hi，我是<strong>李霖(Nastul)</strong>，伪全栈工程师、 乐队吉他手</p>


   
<p> 专长捣鼓 MachineLearning、 DeepLearing、 QuantitativeTrading。 偶尔做做Android、 PHP、 Python、 IOS、 Web 的开发 </p>

<br>
<br>
<br>
<h3 style="color: rgb(127, 177, 254);">Nastul(李霖)</h3>
full stack developer, born in 1994.<br>
<ul>
<li>Email : <strong>lili1@student.unimelb.edu.au
</strong><a href="lili1@student.unimelb.edu.au
"></a></li>
<li>Phone: <a href="tel:+86-185-7001-4406"><strong>+86 18570014406 (China Mainland)</strong></a> | <a href="tel:+61-0401196662"><strong>+61 0401196662 (AU)</strong></a></li>
<li>Links: <a href="https://blog.nastul.com/"><strong>Website</strong></a> | <a href="https://github.com/Nastul"><strong>GitHub @Nastul</strong></a> | | <a href="https://www.linkedin.com/in/霖-李-06421a114/"><strong>LinkedIn</strong></a> .</li>
</ul>

<h3 style="color: rgb(127, 177, 254);">Skills</h3>
<ul>
<li><strong>Programming Language</strong>: Java, Python, PHP</li>
<li><strong>Framework &amp; Tool Usage</strong>:  Android, Git, ThinkPHP</li>
<li><strong>Spoken Language</strong>: Chinese, English</li>
</ul>

<h3 style="color: rgb(127, 177, 254);">Experience</h3>

<ul>
<li><a href="http://www.bgbjclub.cn/"><strong>BgBj-Club</strong></a> 2017.12 - 2018.8 as Full Stack Developer
<ul>
<li>Wrote Server API.</li>
<li>Wrote Web front-end.</li>
</ul></li>

<li><a href="http://www.zoubatrip.cn/"><strong>ZoubaTrip</strong></a> 2017.10 - 2017.12 as PHP Developer & Operation Engineer

<ul>
<li>Wrote Server API.</li>
<li>Management & maintenance API.</li>
</ul></li>


<li><strong>Shanghai Bo Yun Logistics Ltd.</strong> 2015.7 - 2017.10 as Full Stack Developer

<ul>
<li>Construction of the network platform, Content Manage System</li>
<li>Wrote Android client.</li>
<li>Wrote Server API.</li>
</ul></li>
<li><strong>Auto Repair Platform</strong> 2015.5 - 2015.8 as Android Developer

<ul>
<li>Wrote Android client.</li>

</ul></li>



</ul>

<h3 style="color: rgb(127, 177, 254);">Education</h3>

<ul>
<li><a href="http://www.csu.edu.cn/"><strong>Central South University</strong></a> 2014–2018 

<ul>
<li>Bachelor of Engineering in Computer Science.</li>
<li>Used to <a href="http://ylg.csu.edu.cn/">YunLuGu</a> APP group team leader</li>
</ul></li>


<li><a href="https://www.unimelb.edu.au/"><strong>University of Melbourne</strong></a> 2019–Now 

<ul>
<li>Master of Science (Computer Science).</li>

</ul></li>

</ul>

<h3 style="color: rgb(127, 177, 254);">Awards</h3>



<ul>

<li><a href="https://github.com/NasTul/AReco"><strong>Hunan University HuaZhong HHHackathon Rank #2</strong></a></li>
<li><a href="http://ww1.sinaimg.cn/large/a75df9b2ly1g0ofzck2njj22bc1qits7.jpg"><strong>Mathematical Contest in Modeling (Honorable Mention)</strong></a></li>

</ul>






<br>
<br>
<br>

 
</div>

<!-- English Version -->
<!-- <div class="en post-container">
    <blockquote><p>Yet another iOS Developer. <br>
    Yet another Life-long Student.</p></blockquote>

    <p>Hi, I am <strong>Baiying Qiu</strong>，you can call me <strong>BY</strong>. I am an iOS software engineer and currently working in Xiamen</p>

    <p>This is my personal blog, through making Github Pages and Jekyll.My GitHub  👉 <a href="http://github.com/qiubaiying">Github·BY</a>.</p>
    
    <p>I am a sports enthusiast, I like fitness, running and boxing.</p>

    <h5>Talks</h5>

    <ul>
    <li><a href="https://github.com">GitHub</a></li>
    <li><a href="http://jekyll.com.cn/">jekyll</a></li>
    <li><a href="https://pages.github.com/">GitHub Pages</a></li>
    <li><a href="https://qiubaiying.github.io">BY</a></li>
    </ul>
</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

